.container {
  position: relative;
  display: block;
  text-align: center;
}

.user {
  display: flex;
  align-items: center;
}

.img {
  object-fit: cover;
}

.user-name {
  margin-left: 3px;
}