.header {
  padding: 15px 0;
  background-color: #2A2A2C;
}

.gridContainer {
  display: grid;
  grid-template-columns: 30px 2fr 30px;
  align-items: center;
  gap: 15px;
}

@media (min-width: 768px) {
  .header {
    padding: 30px;
  }

  .gridContainer {
    grid-template-columns: 50px 2fr 2fr 2fr 1fr 50px;;
    gap: 30px;
  }
}

@media (min-width: 300px) {
  .header {
    padding: 30px;
  }

  .gridContainer {
    grid-template-columns: 50px 2fr 2fr 2fr 1fr 50px;;
    gap: 30px;
  }
}