.app {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.webcamBackground {
  position: absolute;
  z-index: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.canvasForeground {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 2048px; /* Adjust these values based on your GPU's capabilities */
  max-width: 2048px;
}
